In [1]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('/Users/myasin/Documents/thesis/app/backend/csv_folder/pytorch_pytorch.csv')
df.head()

,username,name,email,repo_count,company,avatar_url,hireable,star_time
0,alexbw,Alex Wiltschko,alex.bw@gmail.com,47,Google,https://avatars.githubusercontent.com/u/161935...,False,2016-08-15 18:39:55
1,iassael,Yannis Assael,iassael@gmail.com,27,DeepMind,https://avatars.githubusercontent.com/u/216211...,True,2016-08-15 19:14:32
2,bshillingford,Brendan Shillingford,NaN,24,NaN,https://avatars.githubusercontent.com/u/232674...,False,2016-08-16 06:35:51
3,hmansell,Howard Mansell,howard@mansells.us,0,Facebook,https://avatars.githubusercontent.com/u/980875...,False,2016-08-24 15:41:21
4,clementfarabet,Clement Farabet,clement.farabet@gmail.com,79,@NVIDIA,https://avatars.githubusercontent.com/u/188959...,False,2016-09-23 00:09:18

In [27]:
df.drop(['username', 'company', 'avatar_url', 'email', 'star_time'], axis=1, inplace=True)
df

                          name  repo_count  hireable
0               Alex Wiltschko          47     False
1                Yannis Assael          27      True
2         Brendan Shillingford          24     False
3               Howard Mansell           0     False
4              Clement Farabet          79     False
..                         ...         ...       ...
95              Alexey Romanov          23     False
96                 Shiven Mian          14      True
97               Matt Mollison          30     False
98                JJ Robertson          24     False
99  Muhammad Sumon Molla Selim          16     False

[100 rows x 3 columns]

In [29]:
df = df.values()
user_repo_mean = np.mean(df, axis = 1)
Repo_demeaned = df - user_ratings_mean.reshape(-1, 1)

TypeError: 'numpy.ndarray' object is not callable